@import url('https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,400&display=swap" rel="stylesheet');

::-webkit-scrollbar {
    border-radius: 50px;
    width: 6px;
    background-color: var(--bg-color);
    cursor: pointer;
}

::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: var(--alt-text-color);
    cursor: pointer;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    scroll-behavior: smooth;
    text-rendering:optimizeLegibility;
    font-kerning: normal;
}

body {
    display: grid;
    grid-auto-columns: 2fr; grid-auto-rows: 2fr;
    font-family: Satoshi, sans-serif;
    font-feature-settings:"kern";
    background-image: var(--bg-image);
    background-attachment: fixed;
    background-size: 100vw 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--bg-color);

    --bg-image: url(assets/water\ flow.png);
    --bg-image-phone: url(assets/water\ flow\ phone.png);
    --bg-color: #B3E5FC;
    --bar-color: #E1F5FE;
    --hover-color: rgba(0,0,0,0.05);
    --text-color: #213254;
    --alt-text-color: #212121;
    --button-color: #213254;
    --button-secondary-color: #80D8FF;
    --dialogue-color: rgba(255,255,255,0.5);
    --dialogue-secondary-color: rgba(255,255,255,0.7);
}

.dark_colors {
    --bg-image: url(assets/water\ flow\ dark.png);
    --bg-image-phone: url(assets/water\ flow\ dark\ phone.png);
    --bg-color: #4F8198;
    --bar-color: #192D36;
    --hover-color: rgba(255,255,255,0.05);
    --text-color: #EAFFFF;
    --alt-text-color: #EEEEEE;
    --button-color: #EAFFFF;
    --button-secondary-color: #4F8198;
    --dialogue-color: rgba(0,0,0,0.1);
    --dialogue-secondary-color: rgba(0,0,0,0.3);
}

.fluid {
    width: 100%;
}

input[type='checkbox'] {position: absolute; visibility: hidden;}

li {list-style: none;}

a {text-decoration: none;}

a img {display: inline;  padding-inline: 5px;  width: 25px; color: var(--button-secondary-color);}

.appbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--bar-color);
    z-index: 0;
}

#logo {
    color: var(--text-color);
    font-size: 25px;
    font-weight: 800;
    letter-spacing: -1px;
}

.bottom-navigationbar {
    position: fixed;
    left: 0; bottom: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--bar-color);
    z-index: 10;
}

.bottom-navigationbar-items {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    overflow-x: auto;
}

label.link , a.link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4em;
    width: 100%; height: 100%; padding: 1em;
    font-size: 14px;
    font-weight: 600;
    color: var(--text-color);
    cursor: pointer;
    border-radius: 10em;
    transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover {
    background-color: var(--hover-color);
    border-radius: 0em;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.link > i {padding: 5px 20px;}

input:checked#works_window ~ i , input:checked#about_window ~ i {
    background-color: var(--bg-color);
    color: var(--logo-color);
    border-radius: 10em;
}

#works {
    display: none;
    grid-auto-rows: 0fr;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background-color: var(--bar-color);
    width: 100vw;
    height: 100vh;
    padding: 2em;
    gap: 20px;
    border-radius: 1em;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1;
}

.works_heading {
    color: var(--text-color);
    font-weight: 700;
    letter-spacing: -1px;
}

#works > p {
    font-size: 18px;
    text-align: center;
    color: var(--alt-text-color);
}

.works_content {
    display: grid;
    gap: 20px;
    padding: 20px;
    height: 50vh;
    font-size: 16px;
    background-color: var(--dialogue-color);
    border-radius: 20px;
    color: rgb(160,172,176);
    text-align: center;
    overflow-y: auto;
}

.works_content .work_para {font-size: 20px; color: var(--text-color);}

.work_link {
    font-size: 20px;
    font-weight: 500;
    color: var(--logo-color);
    background-color: var(--dialogue-secondary-color);
    padding: 20px 30px;
    border-radius: 10px;
}

.work_link:hover {background-color: var(--bar-color);}

#about {
    display: none;
    grid-auto-rows: 0fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background-color: var(--bar-color);
    width: 100%;
    height: 100vh;
    padding-top: 10em;
    gap: 1em;
    border-radius: 1em;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 2;
}

.about_heading {
    color: var(--text-color);
    font-weight: 700;
    letter-spacing: -1px;
}

.about_para {
    display: grid;
    justify-self: center;
    font-weight: 500;
    font-size: 20px;
    color: var(--alt-text-color);
    text-align: center;
    padding: 0.5em;
}

.switch-container {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    gap: .3em;
}

.switch-container i {
    color: var(--alt-text-color);
    font-size: 15px;
}

#color_switch_input {visibility: hidden;}

.color_switch {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3em;
    padding: 0.2em;
    border-radius: 999px;
    background-color: var(--button-secondary-color);
    cursor: pointer;
}

.color_switch_toggle {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    border-radius: 5em;
    width: 1em; height: 1em;
    transform: translateX(-0.7em);
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

#color_switch_input:checked ~ label > .color_switch_toggle {
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateX(0.7em);
}

#color_switch_input ~ label > .color_switch_toggle > span::before {
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    content: '\f185';
    color: var(--button-color);
    transform: rotate(45deg);
    transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
}

#color_switch_input:checked ~ label > .color_switch_toggle > span::before {
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    content: '\f186';
    color: var(--button-color);
    transform: rotate(45deg);
    transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1024px) { #about {padding: 10em;} }

@media screen and (max-width: 768px) { .appbar {justify-content: space-between;} }

@media screen and (max-width: 698px) {
    body {background-image: var(--bg-image-phone);}
    .appbar {justify-content: space-between;}
    label.link , a.link {font-size: 10px; font-weight: 600;}
}

@media screen and (max-width: 438px) { #about {padding: 20px;} }

@media screen and (max-width: 292px) {.appbar {flex-direction: column; gap: 1em;}}