:root {
    --primary-color: rgb(242,242,247);
    --accent-color: rgb(0,122,255);
    --tint: rgb(242,242,247);
    --white: white;
    --light-color: rgb(255,255,255);
    --dark-color: rgb(28,28,30);
    --border-color: var(--primary-color);
}
  
.dark {
    --primary-color: rgb(0,0,0);
    --accent-color: rgb(10,132,255);
    --tint: rgb(44,44,46);
    --white: white;
    --light-color: rgb(28,28,30);
    --dark-color: rgb(255,255,255);
    --border-color: var(--primary-color);
}

@font-face {
    font-family: Cantarell;
    src: url(/fonts/Cantarell-VF.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    text-rendering: optimizeLegibility;
    letter-spacing: -0.02rem;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body{
    background-color: var(--primary-color);
    scroll-behavior: smooth;
}

.wrapper{
    padding: 5em 10em;
    display: grid;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

input[type='checkbox']{
    position: absolute;
    visibility: hidden;
}

nav{
    padding: 2em; 
    background-color: var(--light-color);
    border-radius: 20px;
    display: flex;
    align-items: center;

    ul{
        width: 100%;
        display: flex;
        gap: 1em;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .logo{
        color: var(--accent-color);
        letter-spacing: -0.05em;
        font-size: 2.2em;
        font-weight: 700;
    }

    .theme-toggle{
        font-weight: 550;
        font-size: 1em;
        padding: .8em 1.5em; 
        color: var(--accent-color);
        background-color: var(--tint);
        border-radius: 15px;
        border: none;
        display: block;
        width: 100%;
        text-align: center;
        cursor: pointer;
    }
}

.boxes{
    display: grid;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.box{
    padding: 2em;
    text-align: center;
    font-size: 1.2em;
    color: var(--dark-color);
    background-color: var(--light-color);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 1em;

    h2{
        color: var(--dark-color);
    }

    .works-content{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1em;

        .work-link{
            overflow: hidden;
            padding: 1.5em 2em;
            color: var(--dark-color);
            box-shadow: 0 0 0 2px var(--tint);
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            gap: 1em;
            transition: background-color .4s ease;
        } p{font-weight: 600;}

        .work-link:hover{
            color: var(--accent-color);
            background-color: var(--tint);
        }
    }
}

footer{
    font-weight: 500;
    padding: 2em;
    color: var(--dark-color);
    background-color: var(--light-color);
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;

    .icons{
        display: flex;
        gap: 1.5em;
    }

        .fa-brands , .fa-solid{
            color: var(--white);
            background-color: var(--accent-color);
            border-radius: 5em;
            padding: .6em 1.3em;
            text-align: center;
            cursor: pointer;
        }
}

@media screen and (max-width: 768px) {
    .wrapper , .work-link{
        padding: 1.5em;
    }
}

@media screen and (max-width: 480px) {
    body{
        font-size: 0.9em;
    }
    nav > ul{
        flex-direction: column;
    }
    .box{
        padding: 2em;
    }
}
