@import url("https://rsms.me/inter/inter.css");
:root {
  --primary-color: rgb(230,230,255);
  --accent-color: rgb(55,155,255);
  --light-color: rgb(245,245,255);
  --dark-color: rgb(50,50,55);
  --transparent-color: rgba(255,255,255,0.8);
  --border: 1px solid rgba(0,0,0,0.1);
}

.dark {
  --primary-color: rgb(5,5,15);
  --accent-color: rgb(155,200,255);
  --light-color: rgb(45,45,55);
  --dark-color: rgb(250,250,255);
  --transparent-color: rgba(0,0,0,0.2);
  --border: 1px solid rgba(255,255,255,0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-rendering: geometricPrecision;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  transition: all 0.5s ease;
  font-family: Inter, sans-serif;
  background-color: var(--primary-color);
  scroll-behavior: smooth;
}

.wrapper {
  padding: 5em 10em;
  display: grid;
  gap: 1em;
  justify-content: center;
  align-items: center;
}

p {
  letter-spacing: -0.5px;
}

h2 {
  letter-spacing: -1px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input[type=checkbox] {
  position: absolute;
  visibility: hidden;
}

nav {
  padding: 2em;
  background-color: var(--light-color);
  border-radius: 1em;
  outline: var(--border);
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
nav .logo {
  color: var(--accent-color);
  letter-spacing: -1px;
  font-size: 2.2em;
  font-weight: 900;
}
nav .theme-toggle {
  font-family: Inter, sans-serif;
  font-weight: 500;
  padding: 0.5em 1em;
  color: var(--light-color);
  background-color: var(--accent-color);
  border-radius: 5em;
  border: none;
  display: block;
  width: 100%;
  text-align: center;
}

.boxes {
  display: grid;
  gap: 1em;
  justify-content: center;
  align-items: center;
}

.box {
  padding: 4em 2em;
  text-align: center;
  font-size: 1.2em;
  color: var(--dark-color);
  background-color: var(--light-color);
  border-radius: 1em;
  outline: var(--border);
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.box h2 {
  color: var(--dark-color);
}
.box .works-content {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.box .works-content .work-link {
  padding: 2em;
  color: var(--dark-color);
  background-color: var(--transparent-color);
  border-radius: 1em;
  outline: var(--border);
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.box .works-content p {
  font-weight: 600;
}
.box .works-content .work-link:hover {
  color: var(--light-color);
  background-color: var(--accent-color);
}

footer {
  font-weight: 500;
  padding: 2em;
  color: var(--dark-color);
  background-color: var(--light-color);
  border-radius: 1em;
  outline: var(--border);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
}
footer .icons {
  display: flex;
  gap: 2em;
}
footer .fa-brands, footer .fa-solid {
  color: var(--light-color);
  background-color: var(--accent-color);
  border-radius: 5em;
  padding: 1em;
  text-align: center;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .wrapper, .work-link {
    padding: 1.5em;
  }
  .box {
    padding: 2em 1em;
  }
}
@media screen and (max-width: 480px) {
  body {
    font-size: 0.88em;
  }
  nav > ul {
    flex-direction: column;
  }
  p {
    letter-spacing: 0px;
  }
}/*# sourceMappingURL=styles.css.map */