@import url("https://api.fontshare.com/v2/css?f[]=general-sans@1&display=swap");

:root{
    --primary-color: rgb(230,230,255);
    --accent-color: rgb(55,155,255);
    --light-color: rgb(245,245,255);
    --dark-color: rgb(50,50,55);
    --transparent-color: rgba(255,255,255,0.8);
}

.dark{
    --primary-color: rgb(2,2,4);
    --accent-color: rgb(155,200,255);
    --light-color: rgb(45,45,55);
    --dark-color: rgb(250,250,255);
    --transparent-color: rgba(0,0,0,0.2);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    text-rendering: geometricPrecision;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body{
    transition: all .5s ease;
    font-family: 'General Sans', sans-serif;
    background-color: var(--primary-color);
    scroll-behavior: smooth;
}

.wrapper{
    padding: 5em 10em;
    display: grid;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

input[type='checkbox']{
    position: absolute;
    visibility: hidden;
}

nav{
    padding: 2em; 
    background-color: var(--light-color);
    border-radius: 1em;
    display: flex;
    align-items: center;

    ul{
        width: 100%;
        display: flex;
        gap: 1em;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .logo{
        color: var(--accent-color);
        letter-spacing: -1px;
        font-size: 2.2em;
        font-weight: 900;
    }

    .theme-toggle{
        font-family: 'General Sans', sans-serif;
        font-weight: 600;
        font-size: 1em;
        padding: .5em 1em; 
        color: var(--light-color);
        background-color: var(--accent-color);
        border-radius: 5em;
        border: none;
        display: block;
        width: 100%;
        text-align: center;
        cursor: pointer;
    }
}

.boxes{
    display: grid;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.box{
    padding: 4em 2em;
    text-align: center;
    font-size: 1.2em;
    color: var(--dark-color);
    background-color: var(--light-color);
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    gap: 2em;

    h2{
        color: var(--dark-color);
    }

    .works-content{
        display: flex;
        flex-direction: column;
        gap: 1em;

        .work-link{
            padding: 2em;
            color: var(--dark-color);
            background-color: var(--transparent-color);
            border-radius: 1em;
            display: flex;
            flex-direction: column;
            gap: 1em;
        } p{font-weight: 600;}

        .work-link:hover{
            color: var(--light-color);
            background-color: var(--accent-color);
        }
    }
}

footer{
    font-weight: 500;
    padding: 2em;
    color: var(--dark-color);
    background-color: var(--light-color);
    border-radius: 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;

    .icons{
        display: flex;
        gap: 2em;
    }

        .fa-brands , .fa-solid{
            color: var(--light-color);
            background-color: var(--accent-color);
            border-radius: 5em;
            padding: 1em;
            text-align: center;
            cursor: pointer;
        }
}

@media screen and (max-width: 768px) {
    .wrapper , .work-link{
        padding: 1.5em;
    }

    .box{
        padding: 2em;
    }
}

@media screen and (max-width: 480px) {
    body{
        font-size: 0.88em;
    }

    nav > ul{
        flex-direction: column;
    }
}
