@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: InterVariable;
  font-display: swap;
  font-style: normal;
  src: url("../fonts/InterVariable.woff2") format("woff2-variations"),
    url("../fonts/InterVariable.woff2") format("woff2");
  src: url("../fonts/InterVariable.woff2") format("woff2") tech("variations");
}
:root {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: "InterVariable", sans-serif;
    font-variation-settings: "opsz" auto;
    font-feature-settings: "salt";
  }
}
